# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

ios/

# VSCode workspace file
rn_01.code-workspace

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
!/android/app/debug.keystore

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/

# fastlane

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle

jest_coverage

# CocoaPods
/ios/Pods/

#theme script
change-theme.sh
/themes

#Env var file
.env

#plop
plopfile.js

#danger
dangerfile.js

#yarn
yarn.lock